<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Home | Face Recognition</title>
  <link rel="stylesheet" href="css/home.css">
</head>

<body>

  <div class="navbar">
    <div class="left-side-box">
      <img class="profile-photo" src="<%=imageUploaded%>" alt="profile-photo">
      <h1 class="nameOfStudent">Welcome <%= studentName %>!</h1>
    </div>
    <a class="tooltip" href="/logout"><span class="tooltiptext">Logout</span><img class="logout-btn" src="https://img.icons8.com/external-sbts2018-mixed-sbts2018/58/000000/external-logout-social-media-basic-1-sbts2018-mixed-sbts2018.png" /></a>
  </div>

  <div class="container">
    <div class="attendance-box">
      <%- include('partials/errorMsgs') %>
      <form class="attendance-form" action="/" method="POST">
        <input class="hidden-subcode" type="hidden" name="subjectCode" value="">
        <div class="custom-select">
          <select>
            <option value="0">Select Subject Code</option>
            <option value="1">ETCS-202</option>
            <option value="2">ETCS-204</option>
            <option value="3">ETCS-206</option>
            <option value="4">ETCS-208</option>
            <option value="5">ETCS-302</option>
            <option value="6">ETCS-304</option>
            <option value="7">ETCS-306</option>
            <option value="8">ETCS-308</option>
            <option value="9">ETCS-252</option>
            <option value="10">ETCS-254</option>
            <option value="11">ETCS-356</option>
            <option value="12">ETCS-358</option>
          </select>
        </div>
        <input class="facultycode" type="text" name="" value="" placeholder="Faculty Code" disabled>
        <input class="hidden-faccode" type="hidden" name="facultyCode" value="">
        <input type="hidden" name="username" value="<%=username%>">
        <input type="hidden" name="studentName" value="<%=studentName%>">
        <input type="hidden" name="enrollmentno" value="<%=enrollmentno%>">
        <input type="hidden" name="branch" value="<%=branch%>">
        <input type="hidden" name="imageUploaded" value="<%=imageUploaded%>">
        <button type="submit">Take Attendance</button>
      </form>
    </div>
  </div>

  <script defer src="js/home.js" charset="utf-8"></script>
</body>

</html>
