<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Messages</title>
    <link rel="stylesheet" href="css/viewMessages.css">
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
  </head>
  <body>
    <div class="navbar">
      <h1 class="nameOfTeacher">Hello <%= teacherName %>!</h1>
      <a class="tooltip" href="/teacherLogout"><span class="tooltiptext">Logout</span><img class="logout-btn" src="https://img.icons8.com/external-sbts2018-mixed-sbts2018/58/000000/external-logout-social-media-basic-1-sbts2018-mixed-sbts2018.png" /></a>
    </div>

    <div class="container">
      <h1 class="heading">Messages</h1>
      <box-icon class="back-btn" name="arrow-back" onclick="backToHome()"></box-icon>
      <% if(unreadMessages.length === 0 && readMessages.length === 0 && msgCount === 0){ %>
          <h1 class="no-msg">No messages in the last 15 days.</h1>
      <% }else{ %>
          <form class="myForm" action="/showMessages" method="POST">
            <input class="hidden-input" type="hidden" name="branch" value="<%=branch%>">
            <div class="custom-select">
              <select>
                <option value="0"><%=branchValue%></option>
                <option value="1">All Branches</option>
                <option value="2">CSE</option>
                <option value="3">CST</option>
                <option value="4">IT</option>
                <option value="5">ITE</option>
                <option value="6">ECE</option>
                <option value="7">EEE</option>
              </select>
            </div>
            <div class="unread-msgs">
              <input class="show-only-unread" type="checkbox" name="showOnlyUnread" <%=checked%> onchange="this.form.submit()">
              <label for="show-only-unread">Show unread messages</label>
            </div>
            <input type="hidden" name="teacherName" value="<%=teacherName%>">
            <input type="hidden" name="subjectCode" value="<%=subjectCode%>">
            <input type="hidden" name="facultyCode" value="<%=facultyCode%>">
          </form>
        <% if(unreadMessages.length === 0 && readMessages.length === 0 && msgCount != 0){ %>
          <h1 class="no-unread-msg">No Unread Messages</h1>
        <% } %>
            <div class="box">
              <% for(var i=0; i<unreadMessages.length; i++){ %>
                  <div id=<%=key%> class="message-card unread">
                    <div class="nameOfStudent">
                      Name: <%=unreadMessages[i].studentName%>
                    </div>
                    <div class="emailId">
                      Email: <%=unreadMessages[i].username%>
                    </div>
                    <div class="studentImage">
                      <img src="<%=unreadMessages[i].imageUploaded%>" alt="Student Photo">
                    </div>
                    <div class="enrollnum">
                      Enrollment No.: <%=unreadMessages[i].enrollmentno%>
                    </div>
                    <div class="studentBranch">
                      Branch: <%=unreadMessages[i].branch%>
                    </div>
                    <div class="msgDate">
                      <%=unreadMessages[i].todaysDate%>
                    </div>
                    <div class="msgTime">
                      <%=unreadMessages[i].currTime%>
                    </div>
                    <div class="msg">
                      <% if(unreadMessages[i].message.length > 100){ %>
                        Message: <%=unreadMessages[i].message.substring(0, 100)%>.....
                      <% }else{ %>
                        Message: <%=unreadMessages[i].message%>
                      <% } %>
                    </div>
                    <p class="imp-info">Unread</p>
                    <form class="message-form" action="/viewspecificmessage" method="POST">
                      <input type="hidden" name="teacherName" value="<%=teacherName%>">
                      <input type="hidden" name="subjectCode" value="<%=subjectCode%>">
                      <input type="hidden" name="facultyCode" value="<%=facultyCode%>">
                      <input type="hidden" name="messageId" value="<%=unreadMessages[i]._id%>">
                      <input type="hidden" name="showOnlyUnread" value="<%=checked%>">
                      <input type="hidden" name="branch" value="<%=branch%>">
                      <button type="submit" name="button">View Message</button>
                    </form>
                    <%key++;%>
                  </div>
              <% } %>
              <% for(var i=0; i<readMessages.length; i++){ %>
                  <div id=<%=key%> class="message-card read">
                    <div class="nameOfStudent">
                      Name: <%=readMessages[i].studentName%>
                    </div>
                    <div class="emailId">
                      Email: <%=readMessages[i].username%>
                    </div>
                    <div class="studentImage">
                      <img src="<%=readMessages[i].imageUploaded%>" alt="Student Photo">
                    </div>
                    <div class="enrollnum">
                      Enrollment No.: <%=readMessages[i].enrollmentno%>
                    </div>
                    <div class="studentBranch">
                      Branch: <%=readMessages[i].branch%>
                    </div>
                    <div class="msgDate">
                      <%=readMessages[i].todaysDate%>
                    </div>
                    <div class="msgTime">
                      <%=readMessages[i].currTime%>
                    </div>
                    <div class="msg">
                      <% if(readMessages[i].message.length > 100){ %>
                        Message: <%=readMessages[i].message.substring(0, 100)%>...
                      <% }else{ %>
                        Message: <%=readMessages[i].message%>
                      <% } %>
                    </div>
                    <p class="imp-info">Read</p>
                    <form class="message-form" action="/viewspecificmessage" method="POST">
                      <input type="hidden" name="teacherName" value="<%=teacherName%>">
                      <input type="hidden" name="subjectCode" value="<%=subjectCode%>">
                      <input type="hidden" name="facultyCode" value="<%=facultyCode%>">
                      <input type="hidden" name="messageId" value="<%=readMessages[i]._id%>">
                      <input type="hidden" name="showOnlyUnread" value="<%=checked%>">
                      <input type="hidden" name="branch" value="<%=branch%>">
                      <button type="submit" name="button">View Message</button>
                    </form>
                    <%key++;%>
                  </div>
              <% } %>
            </div>
      <% } %>
    </div>

    <script src="js/viewMessages.js" charset="utf-8"></script>
  </body>
</html>
