<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>View Message</title>
    <link rel="icon" href="/images/favicon.png">
    <link rel="stylesheet" href="css/viewParticularMessage.css">
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
    <script>
      if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
      }
    </script>
  </head>
  <body>

    <div class="navbar">
      <div class="left-side-box">
        <img class="profile-photo" src="<%=imageUploaded%>" alt="profile-photo">
        <h1 class="nameOfStudent">Hello <%= studentName %>!</h1>
      </div>
      <a class="tooltip" href="/studentLogout"><span class="tooltiptext">Logout</span><img class="logout-btn" src="https://img.icons8.com/external-sbts2018-mixed-sbts2018/58/000000/external-logout-social-media-basic-1-sbts2018-mixed-sbts2018.png" /></a>
    </div>

    <div class="container">
      <form class="home-btn" name="form" action="/viewmymessages" method="POST">
        <box-icon class="back-btn" name="arrow-back" onclick="document.forms.form.submit()"></box-icon>
        <input type="hidden" name="studentName" value="<%=studentName%>">
        <input type="hidden" name="enrollmentno" value="<%=enrollmentno%>">
        <input type="hidden" name="facultyCode" value="<%=facultyCode%>">
        <input type="hidden" name="messageDate" value="<%=dateSelected%>">
        <input type="hidden" name="imageUploaded" value="<%=imageUploaded%>">
      </form>
      <div class="codeOfFaculty">
        <h3>Faculty Code: <%=msg.facultyCode%></h3>
      </div>
      <div class="codeOfSubject">
        Subject Code: <%=msg.subjectCode%>
      </div>
      <div class="msgDate">
        <%=msg.todaysDate%>
      </div>
      <div class="msgTime">
        <%=msg.currTime%>
      </div>
      <h1 class="heading">Message:</h1>
      <div class="main-msg">
        <%=msg.message%>
      </div>
    </div>
  </body>
</html>
