<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>View Attendance</title>
    <link rel="icon" href="/images/favicon.png">
    <link rel="stylesheet" href="css/viewYourAttendance.css">
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
    <script>
      if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
      }
</script>
  </head>
  <body>
    <div class="navbar">
      <div class="left-side-box">
        <img class="profile-photo" src="<%=imageUploaded%>" alt="profile-photo">
        <h1 class="nameOfStudent">Hello <%= studentName %>!</h1>
      </div>
      <a class="tooltip" href="/studentLogout"><span class="tooltiptext">Logout</span><img class="logout-btn" src="https://img.icons8.com/external-sbts2018-mixed-sbts2018/58/000000/external-logout-social-media-basic-1-sbts2018-mixed-sbts2018.png" /></a>
    </div>

    <div class="container">
      <h1 class="heading">Attendance</h1>
      <box-icon class="back-btn" name="arrow-back" onclick="backToHome()"></box-icon>
      <%- include('partials/errorMsgs') %>
      <form class="view-attendance-form" action="/viewyourspecificeattendance" method="POST">
        <input class="hidden-subcode" type="hidden" name="subjectCode" value="<%=subjectCode%>">
          <div class="custom-select">
            <select>
              <option value="0"><%=subjectCode%></option>
              <option value="1">ETCS-202</option>
              <option value="2">ETCS-204</option>
              <option value="3">ETCS-206</option>
              <option value="4">ETCS-208</option>
              <option value="5">ETCS-302</option>
              <option value="6">ETCS-304</option>
              <option value="7">ETCS-306</option>
              <option value="8">ETCS-308</option>
              <option value="9">ETCS-252</option>
              <option value="10">ETCS-254</option>
              <option value="11">ETCS-356</option>
              <option value="12">ETCS-358</option>
            </select>
          </div>

          <input class="hidden-month" type="hidden" name="attendanceMonth" value="<%=attendanceMonth%>">
           <div class="custom-select">
             <select>
               <option value="0"><%=attendanceMonth%></option>
               <option value="1">January</option>
               <option value="2">February</option>
               <option value="3">March</option>
               <option value="4">April</option>
               <option value="5">May</option>
               <option value="6">June</option>
               <option value="7">July</option>
               <option value="8">August</option>
               <option value="9">September</option>
               <option value="10">October</option>
               <option value="11">November</option>
               <option value="12">December</option>
             </select>
           </div>

        <button class="get-attendance-btn" type="submit" name="button">View Attendance</button>
        <input type="hidden" name="studentName" value="<%=studentName%>">
        <input type="hidden" name="enrollmentno" value="<%=enrollmentno%>">
        <input type="hidden" name="imageUploaded" value="<%=imageUploaded%>">
      </form>

      <% if(attendanceOfMonth.length === 0 && len === 1 && isGreater){ %>
        <h1 class="no-attendance">No Attendance Found</h1>
        <div class="box">

        </div>
      <% }else{ %>
        <div class="box">
        <% if(len === 1){ %>
            <h1 class="monthOfAttendance">Month: <%=attendanceMonth%></h1>
            <div class="attendance-card">
              <div class="dateOfAttendance">Date</div>
              <div class="attendanceResult">Attendance Result</div>
            </div>
            <% for(var i=1; i<=numberOfDaysInMonth; i++){ %>
              <div class="attendance-card">
                <div class="dateOfAttendance"><%=key%></div>
                <% if(sundays.includes(i)){ %>
                  <div class="attendanceResult sunday">Sunday</div>
                <% }else{ %>
                  <% var isPresent = false; %>
                  <% if(attendanceDates.includes(i)){ %>
                    <% isPresent = true; %>
                    <% var myIndex = attendanceDates.indexOf(i); %>
                    <div class="attendanceResult green">
                      Attendance Time: <%=attendanceOfMonth[myIndex].currTime%>
                    </div>
                  <% } %>
                  <% if(messagesDates.includes(i)){ %>
                    <% isPresent = true; %>
                    <div class="attendanceResult messageSent">Message Sent to Faculty</div>
                  <% } %>
                  <% if(isPresent === false){ %>
                    <div class="attendanceResult red">
                      No Attendance
                    </div>
                  <% } %>
                <% } %>
              </div>
              <% key++; %>
            <% } %>
            <div class="attendance-result">
              <div class="working-days">
                Number of Working Days: <%=workingDays%>
              </div>
              <div class="attendance-given">
                Number of Days Attendance Given: <%=numberOfDaysAttendanceGiven%>
              </div>
              <div class="attendance-not-given">
                Number of Days Attendance Not Given: <%=numberOfDaysAttendanceNotGiven%>
              </div>
              <div class="status">
                <h3 class="attendance-text">Attendance Status: <span class="attendance-status"><%=attendanceStatus%></span></h3>
              </div>
            </div>
        <% } %>
      </div>
      <% } %>
    </div>

    <script src="js/viewYourAttendance.js" charset="utf-8"></script>
  </body>
</html>
